canvas {
    display: inline-block;
}
#the-video{
    
    position:fixed ;
    top: -0.8%;
    left: 31.8%;
    width:700px;
    height:480px;
    z-index: -100;
    background-size: cover;
    transition: 2s opacity;
    opacity: 1;
    object-fit: contain;
}

#screen-container {
    border: 1px solid black;
    width: 700px;
    height: 480px;
    position:fixed ;
    top: -0.8%;
    left: 31.8%;

}

#announcer {
    text-align: center;
}

.playerName {
    color: brown;
    font-size: 25px;
}

.playerSpecialty {
    color: blueviolet;
    font-size: 30px;
}

#announcerText {
    color: lawngreen;
    font-size: 35px;
}

.veryEffective {
    color: aqua;
    font-size: 30px;
}